.menuFlex {
    margin: 0 auto;
    display: flex;
    width:900px;
    /* max-width: 600px; */
    padding: 20px;
    margin-top: 0;
    margin:auto;
    justify-content: space-around;

}


.titulo{
    align-self:center;
}
.menuItem {
    background: var(--azul-medio); 
    color: var(--texto-claro);    
    padding: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 12px;
    transition: 0.2s;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }