*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --roxo-escuro: #2d1046;     
  --roxo-medio:  #6b4fb5;   
  --roxo-claro: #e9ddff;     
  --texto-claro: #ffffff;     
  --texto-escuro: #1a1a1a;   
  
  --azul-escuro:#0339A6;
  --azul-medio:#5080BF;
  --azul-claro: #D5E2F2;
   --texto-claro: #ffffff;     
  --texto-escuro: #1a1a1a;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--azul-claro);
  color: var(--texto-escuro);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}